.background {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 70px;
  overflow: hidden;
  animation: back 500ms linear;
  /* transition: background 1000ms cubic-bezier(0.4, 0, 0.2, 1); */
  animation-fill-mode: forwards;
}
@keyframes back {
  0% {
    /* background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 36%,
      #c0c0c0 100%
    ); */
  }
  100% {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 36%,
      #c0c0c0 100%
    );
  }
}
/* .wigth {
  width: 100%;
} */
/* .cup { */
/* animation: upCup 2500ms linear; */
/* animation-delay: 2000ms; */

/* width: 1000px;
  height: 1180px;

  background-image: url(../../images/confetti.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
/* } */

@keyframes upCup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.confetti {
  animation: confet 1000ms linear;

  max-width: 100%;
  width: 682px;
  height: 1180px;

  background-image: url(../../images/Cup-up.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@keyframes confet {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
